{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Forgot Password</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <div style="color: grey; margin-bottom: 10px">
            Please provide your email below and we will send you a link to reset your password.
        </div>
        <form method="GET" action="/forgot">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="user" placeholder="Username">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}